<div class="toolbar" role="banner">
  <a href="/">
    <img
      width="60"
      alt="Angular Logo"
      src="assets/pizza_logo.jpg"
    />
  </a>
  <span>Order Pizza</span>
  <div class="spacer"></div>
  <a class="toolbar_login" href="/login" *ngIf="accessToken == null;else other_content">Login</a>
  <ng-template #other_content>
    <app-logout-button></app-logout-button>
  </ng-template>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
  <footer>
    <p><strong>Pizza Shop</strong></p>
    <a href="/login">Login</a>
    <a href="/shop">Order Pizza</a>
    <a href="/orders">Orders</a>
  </footer>
</div>